# Editors
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store

# Tool cache
/.gocache/

# Builds
/go.work
/xgo_autogen.go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.wasm
*.test
*.out

# Root outputs
/.temp/
/.tmp/
/bin/
/.bin/
/godot/
/.gdspx_web_server*.pid
