go.work
go.work.sum
*.so
*.dylib
*.DS_Store
*library.gdextension

# Directories
/godot
/builds
/webtools
/bin
/tools/publish
/tools/version

# Files
cmd/_debug_parsed_ast.json
ffi/_temp_output.h
ffi/_temp_output*.h
