go.work
*.so
*.dylib
*library.gdextension
go.work.sum
/.vscode
cmd/_debug_parsed_ast.json
internal/ffi/_temp_output*.h
/godot
/builds
/webtools
/bin
/tools/publish
/test/*
/spx
/oldspx
/emsdk
/builder
/ispx
/sb2spx
*.DS_Store
/logs
/version
/bin
/tools/version