<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<h1>WASM data loading test</h1>
	<iframe id="wasmFrame" src="runner.html"></iframe>
	<script>
		"use strict";

		const zipResp = fetch('/game.zip')

		const iframe = document.getElementById('wasmFrame');
		iframe.addEventListener('load', async () => {
			const wasmWindow = iframe.contentWindow;
			window.wasmWindow = wasmWindow;
			let buffer = await (await (zipResp)).arrayBuffer();
			wasmWindow.startWithZipBuffer(buffer);
		});
	</script>
</body>

</html>