go.work
go.work.sum
*.so
*.dylib
*.DS_Store
*library.gdextension

# Directories
/builds
/webtools
/bin
/tools/publish
/tools/version

# Files
cmd/_debug_parsed_ast.json
gdengine/binding/native/_temp_output.h
tools/common/bin
