name: Windows

on:
  workflow_call:

concurrency:
  group: ci-${{github.actor}}-${{github.head_ref || github.run_number}}-${{github.ref}}-windows
  cancel-in-progress: true

jobs:

  build:
    runs-on: "windows-latest"
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up MSYS2
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >-
          base-devel
          mingw-w64-x86_64-toolchain
          zip
          unzip
          make
          bash

    - name: Setup go/xgo & engine
      uses: ./.github/actions/deps

    - name: Test
      uses: ./.github/actions/project-test
      
